{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/ajatprabha/gsoc-meta-k8s"
      onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure><i class="fa fa-user-o fa-5x"></i></figure>
        <h3>General Information</h3>
        <table class="info-table">
          <tr>
            <td>Name:</td>
            <td>Ajat Prabha</td>
          </tr>
          <tr>
            <td>GitHub:</td>
            <td><a href="https://github.com/ajatprabha" target="_blank">ajatprabha</a></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><a href="mailto:ajat.prabha.leo@gmail.com">ajat.prabha.leo@gmail.com</a></td>
          </tr>
          <tr>
            <td>Blog:</td>
            <td><a href="https://ajatprabha.in">https://ajatprabha.in</a></td>
          </tr>
          <tr>
            <td>Mentors:</td>
            <td>
              <ul>
                <li><a href="https://github.com/maciaszczykm">Marcin Maciaszczyk</a></li>
                <li><a href="https://github.com/floreks">Sebastian Florek</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="col col-4 item">
        <figure><i class="fa fa-link fa-5x"></i></figure>
        <h3>Links</h3>
        <ol>
          <li><a target="_blank" href="https://blog.angularindepth.com/building-extensible-dynamic-pluggable-enterprise-application-with-angular-aed8979faba5">AOT Plugin Architecture Implementation PoC</a> - Alexey Zuev</li>
          <li><a target="_blank" href="https://summerofcode.withgoogle.com/projects/#6037714929975296">GSoC Project Link</a></li>
        </ol>
      </div>
      <div class="col col-4 item">
        <figure><i class="fa fa-code-fork fa-5x"></i></figure>
        <h3>Proposals</h3>
        <ul>
          <li><a href="{{ "/assets/K8s_GSoC_Proposal.pdf" | relURL }}">GSoC Proposal</a></li>
          <li><a href="https://github.com/kubernetes/enhancements/pull/814">KEP for Plugin Mechanism</a></li>
        </ul>
      </div>
      <div class="col col-12 item">
        <figure><i class="fa fa-github fa-5x"></i></figure>
        <h3>Issues and Pull Requests</h3>
        <div class="text-align-left">
          {{ range .Site.Data.contrib }}
          <strong>Total: </strong>{{ .search.repositoryCount }}
          <ul>
            {{ range .search.edges }}
            <li><strong>{{ .node.__typename }}</strong>: <a
                href="{{ .node.url }}">kubernetes/{{ .node.repository.name }}#{{ .node.number }}</a> - {{ .node.title }}
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}